body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

/*this is a fix for PhoneGap's positioning problem*/
.ui.fixed.main.menu {
	top: 0;
}

.content {
	padding: 20px;
	padding-top: 60px;
}
