<h1>Code Chat</h1>

<div>
	<h3>signin</h3>
	<input type="text" id="signinName" placeholder="name" />
	<input type="password" id="signinPassword" placeholder="password" />
	<button id="signinButton">
		signin
	</button>
</div>

<div>
	<h3>Signup</h3>
	<input type="text" id="signupName" placeholder="name" />
	<input type="password" id="signupPassword" placeholder="password" />
	<input type="password" id="signupConfirmPassword" placeholder="confirm password" />
	<button id="signupButton">
		Signup
	</button>
</div>

<script>
	$("#signinButton").click(function() {

		var username = $("#signinName").val();
		var password = $("#signinPassword").val();

		if (!username || !password) {
			alert("A username and password is required");
			return;
		}

		$.post('/signin', {
			'username' : username,
			'password' : password
		}, function(res) {
			
			if (res.error) {
				alert('error');
				return;
			}

			window.location.href = "/chat";
			
		}).fail(function(res) {
			
		});

	});

	$("#signupButton").click(function() {

		var username = $("#signupName").val();
		var password = $("#signupPassword").val();

		var confirmPassword = $("#signupConfirmPassword").val();

		if (!username || !password) {
			alert("A username and password is required");
			return;
		}

		if (password !== confirmPassword) {
			alert("Passwords don't match");
			return;
		}

		$.post('/signup', {
			'username' : username,
			'password' : password
		}, function(res) {

			if (res.error) {
				alert('error');
				return;
			}

			location.href = "/chat";

		}).fail(function(res) {
			
		});

	});

</script>